html
  head
    title= config
    link(rel="stylesheet", href="static/styles/config.css")
  body
    div(id="sources-pane")
      div(class="loader")
    div(id="counts-pane")
      div(class="loader")
    script(type="text/javascript", src="static/lib/jquery.min.js")
    script(type="text/javascript", src="static/scripts/config.js")
