html
  head
    title="config"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="static/styles/config.css")
    link(rel="stylesheet", href="static/styles/common.css")
  body
    div(class="navbar")
    div(class="navbar-placeholder")
    div(class="main-container center-h")
      div(id="counts-pane" class="dash-box")
        div(class="loader")
      div(id="sources-pane")
        div(class="loader")
    script(type="text/javascript", src="static/lib/jquery.min.js")
    script(type="text/javascript", src="static/scripts/config.js")
