body {
  width: 100%;
  margin: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-container {
  display: block;
  overflow: auto;
}

@media screen and (min-width: 500px) {
  .main-container {
    width: 500px;
  }
}

@media screen and (min-width: 1080px) {
  .main-container {
    width: 980px;
  }
}

@media screen and (min-width: 200px) and (max-width: 475px) {
  .main-container {
    width: 99%;
  }
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.div-row {
  float: left;
}

.div-row-item {
  display: block;
  float: left;
}

.width-100 {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 4em;
  background-color: #0375B4;
  position: fixed;
}

.navbar-placeholder {
  width: 100%;
  height: 4em;
}
